<div class="container">
  <div class="columns is-centered">
    <div class="box column is-ont-third">      
      <h1 class="title has-text-centered">Typing Challenge</h1>
      
      <p class="has-text-centered">
        {{ this.randomText }}
      </p>
      
      <div class="field">
        <input 
          class="input" 
          type="text" 
          (input)="this.onInput($event)"
        >
      </div>
      
      <div class="box has-text-centered">
        <h1 class="title">Success!</h1>
      </div>

    </div>
  </div>

</div>